.modalWrapperClass {
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99;
}

.modalClass {
  position: relative;
  background: #fff6f6;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
  width: 90vw;
  height: 70vh;
}

.closeButton {
  background-color: black;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
}

.modalContent {
  margin: 1rem;
  background-color: red;
}
